@model ITCV.Models.Views.OtherCerts
<div id="certificates" ng-controller="CertificatesController as certs">
    <div id="AddedCerts" ng-controller="SidebarController as side" class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Текущий статус раздела:
            </div>
            <div ng-if="!certs.certsFromModel.length" class="panel-body">
                <span>У вас нет добавленных сертификатов</span>
            </div>

            <table class="table">
                <tr ng-repeat="cert in certs.certsFromModel">
                    <td ng-class="{warning: certs.editor.item === $index}">
                        <a href="#CertContainer{{$index}}" data-toggle="collapse" ng-click="side.ShowDiv($index)">{{"Сертификат " + ($index + 1)}}</a>
                        <span ng-show="certs.editor.item === $index"> - редактируется</span>
                        <div class="collapse" id="CertContainer{{$index}}">
                            <table>
                                <tr>
                                    <td>Издатель: </td>
                                    <td>{{cert.Issuer}}</td>
                                </tr>
                                <tr>
                                    <td>Дата выдачи:</td>
                                    <td>{{cert.IssueDate}}</td>
                                </tr>
                                <tr>
                                    <td>Квалификация: </td>
                                    <td>{{cert.Qualification}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="btn btn-warning btn-sm" ng-if="certs.editor.item === ''" type="button" value="Редактировать" ng-click="certs.EditCert($index)" />
                                        <input class="btn btn-danger btn-sm" ng-if="certs.editor.item === $index" type="button" value="Отменить редактирование" ng-click="certs.CancelEdit()" />
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            @*<div ng-repeat="cert in certs.certsFromModel" class="repeater">
                <div id="CertHeader" class="sideHeader" ng-click="side.ShowDiv($index)" ng-class="{sideSelected: side.IsSet($index), sideEdit: certs.editor.item === $index}">
                    {{"Сертификат " + $index}}
                    <span ng-show="certs.editor.item === $index"> - редактируется</span>
                    <a href="javascript:void(0)" ng-if="certs.editor.item === $index" ng-click="certs.CancelEdit()">(Cancel)</a>
                </div>
                <div ng-show="side.IsSet($index)" class="sideContainer">
                    
                </div>
            </div>*@
        </div>
    </div>
    
    <div id="addCertDiv" class="col-md-8">

        <h4>Введите данные о сертификате: </h4>
        <hr />

        <form id="CertForm">
            <div style="float: none">
                @Html.LabelFor(m => m.Issuer):
            </div>
            <div style="float: none">
                @Html.TextBoxFor(m => m.Issuer, new { ng_model = "certs.cert.Issuer" })
            </div>
            <div style="float: none">
                @Html.ValidationMessageFor(m => m.Issuer)
            </div>
            <div style="float: none">
                @Html.LabelFor(m => m.IssueDate):
            </div>
            <div style="float: none">
                @Html.TextBoxFor(m => m.IssueDate, new { ng_model = "certs.cert.IssueDate", data_val_date = "Неверный формат даты!" })
            </div>
            <div style="float: none">
                @Html.ValidationMessageFor(m => m.IssueDate)
            </div>
            <div style="float: none">
                @Html.LabelFor(m => m.Qualification):
            </div>
            <div style="float: none">
                @Html.TextBoxFor(m => m.Qualification, new { ng_model = "certs.cert.Qualification" })
            </div>
            <div style="float: none">
                @Html.ValidationMessageFor(m => m.Qualification)
            </div>
            <div style="float: none">
                @Html.LabelFor(m => m.OtherInfo):
            </div>
            <div style="float: none">
                @Html.TextAreaFor(m => m.OtherInfo, new { ng_model = "certs.cert.OtherInfo" })
            </div>
            <input type="button" value="Добавить/редактировать" ng-click="certs.SubmitCert()" />
        </form>

    </div>
</div>